*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, nav a:hover{
    background-color: #39aae1;
    color: #fff;
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url('../image/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column{
    flex-direction:column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}
.banner_headline h2{
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    height: 210px;
    display: flex;
}
.banner1, .banner2, .banner3{
    flex:1;
    color: #fff;
    padding: 20px;
}
.banner1{
   background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
.banner_hours{
    display: block;
    border-bottom: 1px solid #fff;
    margin-top: 20px;
    padding: 5px;
    font-size: 13px;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .new_data{
    display: flex;
}
article .new_posted_at{
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .new_comment{
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .new_tumb{
    margin-top: 30px;
}
article .new_tumb img{
    width: 100%;
    height: auto;
}
article .new_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    color: black;
}
article .new_resume{
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;
    margin-bottom: 30px;
}
article .departament{
    display: flex;
}
article .new_depart{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    background-color: #39aae1 ;
}
article .departament img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
}
article .new_make_resume{
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;
    margin-bottom: 30px;
    margin-top: 30px;
}
article .make_app{
    display: flex;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}
article .border-bottom{
    display: flex;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}

article i{
    background-color: #ccc;
    color: #fff;
    font-size: 10px;
    padding: 10px;
    margin-right: 2px;
    margin-top: 10px;
}
article .make_app div{  
    margin-top: 10px;
    font-size: 14px;
    padding: 9px;
    color: #5c5c5c;
}
footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
    flex: 1;
}
.fm_1, .fm_2, .fm_3{
    flex:1;
    color: #fff;
    padding: 20px;
}
.fm_1{
    background-color: #39aae1;
 }
 .fm_2{
     background-color: #0079c7;
 }
 .fm_3{
     background-color: #2b4c99;
 }
 .footer_area{
     display: flex;
     color: #fff;
 }
 .footer_area_item{
     flex: 1;
    color: #fff;

 }
 .flexColumn{
     flex-direction: column;
 }
 footer .widget_title_text{
     color:#fff;
 }
 .footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
 }
 footer .footer_title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
}
footer .footer_resume{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
}
footer .footer_clinic{
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;
    margin-bottom: 30px;
    margin-top: 30px;
} 
footer .footer_mail{
    color: #fff;
}
footer .footer_last_post{
    display: flex;
    flex-direction:column;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
} 
footer .footer_last_post i{
    margin-right: 10px;
}
footer .footer_last_post label{
    color: #39aae1;
    font-size: 10px; 
} 
footer .footer_last_post div{
    margin-bottom: 20px;
}
footer .footer_last_tweets{
    display: flex;
    flex-direction:column;
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;
    margin-bottom: 30px;
    margin-top: 30px;
} 
footer .footer_last_tweets i{
    margin-right: 10px;
}
footer .footer_last_tweets label{
    color: #39aae1; 
    font-size: 10px;
} 
footer .footer_last_tweets div{
    margin-bottom: 20px;
}
footer .footer_icons{
    display: flex;
    margin-top: 30px;
    margin-right: 80px;
}
footer .footer_icons i{
    color: #5c5c5c;
    margin-left: 10px;
    
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: #39aae1;
}

@media (max-width:600px){

    .banner_headline{
        padding: 20px;
    }
    .banner_headline h1{
        font-size: 50px;
    }
    .banner_headline h2{
        font-size: 15px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral section, #geral aside{
        padding: 20px;
        margin-top: 30px;
    }
    .footer_menu{
        flex-direction: column;
        padding: 20px;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding: 20px;
    }

    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0px;
        width: 100%;
        background-color: #fff;
    }
    header{
        height: auto;
    }
    .logo{
        padding: 20px;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}