body{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, nav a:hover{
    background-color: #39aae1;
    color: #fff;
}